.message-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-list-paprer{
  margin: 100px auto;
  min-width: 600px;
  max-width: 800px;
  padding: 20px;
}



.table {
  min-width: 600px;
  max-width: 800px;
  margin-bottom: 20px !important;
}

.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px !important;
  .span {
    max-width: 50%;
  }
}
